<?xml version="1.0" encoding="utf-8" ?>
   <config>
		<ocde>
			<pays>AU</pays>
            <pays>AT</pays>
            <pays>BE</pays>
            <pays>CA</pays>
            <pays>CL</pays>
            <pays>CZ</pays>
            <pays>DK</pays>
            <pays>EE</pays>
            <pays>FI</pays>
            <pays>FR</pays>
            <pays>DE</pays>
            <pays>GR</pays>
            <pays>HU</pays>
            <pays>IS</pays>
            <pays>IE</pays>
            <pays>IL</pays>
            <pays>IT</pays>
            <pays>JP</pays>
            <pays>KR</pays>
            <pays>LU</pays>
            <pays>MX</pays>
            <pays>NL</pays>
            <pays>NZ</pays>
            <pays>NO</pays>
            <pays>PL</pays>
            <pays>PT</pays>
            <pays>SK</pays>
            <pays>SI</pays>
            <pays>ES</pays>
            <pays>SE</pays>
            <pays>CH</pays>
            <pays>TR</pays>
            <pays>GB</pays>
            <pays>US</pays>
		</ocde>
		<ue>
			<pays>AU</pays>
            <pays>BE</pays>
            <pays>BG</pays>
            <pays>HR</pays>
            <pays>CY</pays>
            <pays>CZ</pays>
            <pays>EE</pays>
            <pays>FI</pays>
            <pays>FR</pays>
            <pays>DE</pays>
            <pays>GR</pays>
            <pays>HU</pays>
            <pays>IE</pays>
            <pays>IT</pays>
            <pays>LV</pays>
            <pays>LT</pays>
            <pays>LU</pays>
            <pays>MT</pays>
            <pays>NL</pays>
            <pays>PL</pays>
            <pays>PT</pays>
            <pays>RO</pays>
            <pays>SK</pays>
            <pays>SI</pays>
            <pays>ES</pays>
            <pays>SE</pays>
            <pays>GB</pays>
		</ue>
   </config> 